@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

*,
*:before,
*:after,
*:placeholder-shown {
  font-family: inherit;
}
